# ===== THIRD PARTY LIBRARIES =====
ORB_SLAM2/
ORB_SLAM3/
Pangolin/
g2o/
glog/
LDSO/
dso/
dso_ros/
stereo-dso/
DBow3/
camera_calibration/
ORB_SLAM3_Testing_Report_Jetson_Orin.pdf

# ===== DATASETS =====
datasets/


# ===== BUILD =====
build/
cmake-build-*/
CMakeFiles/

# ===== BINARIES =====
*.so
*.a
*.o
*.out

# ===== PYTHON =====
__pycache__/
*.pyc

# ===== ARCHIVES =====
*.zip
*.tar
*.tar.gz
*.tar.xz

# ===== LOGS =====
*.log

# ===== VSCODE =====
.vscode/

# ===== SYSTEM =====
.DS_Store

